
header {
    margin-bottom: $spaceBetweenSecitons;
    padding: 20px 15px;
    section {
        max-width: 95%;
    }
}

main {
    width: 90%;
    margin: 0 auto;
}

#filters {
    display: flex;
    margin-bottom: $spaceBetweenSecitons;
    gap: 40px;
    flex-direction: column;
}

fieldset {
    display: flex;
    padding: 12px $spaceBetweenSecitons;
    box-sizing: border-box;
    box-shadow: $box_shadow;
    gap: 20px;
    border-radius: $borderRadius;
}

#loop {
    width: 25px;
    height: 25px;
    background-image: url("/loop.svg");
}

#region_select {
    border-radius: $borderRadius;
    padding: 12px 80px 12px $spaceBetweenSecitons;
    width: fit-content;
    position: relative;
    font-size: 12px;
    &.active {
        #region_options {
            animation: showBox 0$transitionTime linear;
            opacity: 1;
            transform: translate(0%, 100%);
            display: block;
        }
    }
    &.inactive {
        #region_options {
            opacity: 0;
            transform: translate(-20%, 100%);
            animation: showBox 0$transitionTime reverse;
        }
    }
}
@keyframes showBox {
    0% {
        opacity: 0;
        transform: translate(-20%, 100%);
    }
    1% {
        z-index: 1;
    }
    100% {
        transform: translate(0%, 100%);
        opacity: 1;
        z-index: 1;
    }
}
#region_options {
    transition: 0$transitionTime all;
    position: absolute;
    background-color: inherit;
    width: 100%;
    left: 0;
    bottom: -5px;
    border-radius: $borderRadius;
    box-shadow: $box_shadow;
    padding: 12px $spaceBetweenSecitons;
    box-sizing: border-box;
    line-height: 140%;
}

#container_to_fill {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.country_element {
    border-radius: $borderRadius;
    box-shadow: $box_shadow;
    overflow: hidden;
    img {
        max-width: 100%;
        width: 100%;
    }
}
h2 {
    font-weight: $bold;
    font-size: $detail_page_font_size;
    padding-bottom: 20px;
}
main p {
    padding-bottom: 10px;
    font-size: $home_page_font_size;
}
span {
    font-weight: $light;
}
.bold {
    font-weight: $medium;
}
.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.country_info {
    padding: 20px 20px 40px;
}

// ███████╗██╗███╗   ██╗ ██████╗ ██╗     ███████╗     ██████╗ ██████╗ ██╗   ██╗███╗   ██╗████████╗██████╗ ██╗   ██╗
// ██╔════╝██║████╗  ██║██╔════╝ ██║     ██╔════╝    ██╔════╝██╔═══██╗██║   ██║████╗  ██║╚══██╔══╝██╔══██╗╚██╗ ██╔╝
// ███████╗██║██╔██╗ ██║██║  ███╗██║     █████╗      ██║     ██║   ██║██║   ██║██╔██╗ ██║   ██║   ██████╔╝ ╚████╔╝
// ╚════██║██║██║╚██╗██║██║   ██║██║     ██╔══╝      ██║     ██║   ██║██║   ██║██║╚██╗██║   ██║   ██╔══██╗  ╚██╔╝
// ███████║██║██║ ╚████║╚██████╔╝███████╗███████╗    ╚██████╗╚██████╔╝╚██████╔╝██║ ╚████║   ██║   ██║  ██║   ██║
// ╚══════╝╚═╝╚═╝  ╚═══╝ ╚═════╝ ╚══════╝╚══════╝     ╚═════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚═╝  ╚═╝   ╚═╝

#country_element {
    display: flex;
    flex-direction: column;
    gap: $spaceBetweenSecitons;
    img {
        max-width: 100%;
        width: 100%;
    }
}

#back_button {
    margin-bottom: $largespaceBetweenSecitons;
    border: none;
    border-radius: $borderRadius;
    box-shadow: $box_shadow;
    padding: 10px 25px;
    font-weight: $light;
}

.info_box {
    h2 {
        font-size: 24px;
    }
}

.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: $spaceBetweenSecitons;
}

#border_countries{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 10px;
    margin-bottom: $spaceBetweenSecitons;
    .bold{
        display: block;
        font-size: 120%;
        margin-bottom: 10px;
        width: 100%;
    }
    a{
        text-decoration: none;
        color: inherit;
        font-weight: $light;
        box-shadow: $box_shadow;
        padding: 12px 20px;
        border-radius: $borderRadius;
    }
}