@import './partials/reset.scss';
@import './partials/variables.scss';
@import './partials/mobile.scss';

@media screen and (min-width: 768px) {
    @import './partials/desktop.scss';
}
body{
    font-family: Nunito Sans, sans-serif;
    transition: background $transitionTime;
    min-height: 100vh;
}

.list{
    #single_country{
        display: none;
    }
    #countries_list {
        display: block;
    }
}
.single{
    #countries_list{
        display: none;
    }
    #single_country{
        display: block;
    }
}

header{
    section{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        align-items: center;
    }
    box-shadow: $box_shadow;
}
h1{
    font-weight: $medium;
}

i{
    background-size: contain;
}

input,
select{
    border: none;
    &:focus,
    &:focus-visible {
        border: none;
        outline: none;
    }
}
#color_select{
    background-color: inherit;
    border: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 5px;
    p{
        font-weight: $light;
    }
    i{
        width: 20px;
        height: 20px;
    }
    &.dm_color{
        i{
            background-image: url('/moon.svg');
            fill: white;
        }
    }
    &.lm_color{
        i{
            background-image: url('/sun.svg');
        }
    }
}

input{
    border: none;
}


.dark_mode{
    @include setMode($dm_background, $white, $dm_element);
}

.light_mode{
    @include setMode(white, $lm_text, $lm_background);
    #loop{
        filter: brightness(0%);
    }
}